footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    width: 100%;
    height: 40px;
    background-color: white;
    font-family: "Space Mono", monospace;
    border-top: 1px solid black;
}

footer a, 
footer p {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: black;
    text-transform: uppercase;
}

footer a:hover {
    font-weight: bold;
}

/*Modal contact*/
.hidden {
    display: none !important;
}

/* Style pour la modal container */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Assure que la modal est au-dessus de tout le reste */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style pour l'overlay */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Noir avec une opacité de 50% */
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 51vw;
    height: 90vh;
    position: absolute;
    left: 50vh;
    top: 12%;
    background-color: white;
    border: 3px solid black;
    /* Définissez la taille initiale et l'opacité de la modal */
    transform: scale(0.1);
    opacity: 0;
    /* Ajoutez l'animation */
    animation: modalAppear 0.5s ease-in-out forwards;
}

@keyframes modalAppear {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0vh;
}

form label {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

form label input,
form textarea {
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    width: 263px;
}

form label input {
    height: 2vh;
    font-family: 'poppins';
    font-size: 14px;
}
    
form textarea {
    height: 6vh;
    font-size: 14px;
    font-family: 'poppins';
}

.contact-submit {
    display: flex;
    justify-content: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 12px;
    background-color: #D8D8D8;
    border: none;
    border-radius: 2px;
    width: 263px;
    height: 50px;
}

