footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    width: 100%;
    height: 40px;
    background-color: white;
    font-family: "Space Mono", monospace;
    border-top: 1px solid black;
}

footer a, 
footer p {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: black;
    text-transform: uppercase;
}

footer a:hover {
    font-weight: bold;
}

/*MODALE CONTACT*/
.hidden {
    display: none !important;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Assure que la modal est au-dessus de tout le reste */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Noir avec une opacité de 50% */
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 51vw;
    height: 78vh;
    position: absolute;
    top: 12%;
    background-color: white;
    border: 3px solid black;
    /* Définissez la taille initiale et l'opacité de la modal */
    transform: scale(0.1);
    opacity: 0;
    /* Ajoutez l'animation */
    animation: modalAppear 0.5s ease-in-out forwards;
}

@keyframes modalAppear {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0vh;
}

form label {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

form label input,
form textarea {
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    width: 263px;
}

form label input {
    height: 2vh;
    font-family: 'poppins';
    font-size: 14px;
}
    
form textarea {
    height: 6vh;
    font-size: 14px;
    font-family: 'poppins';
}

.contact-submit {
    display: flex;
    justify-content: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 12px;
    background-color: #D8D8D8;
    border: none;
    border-radius: 2px;
    width: 263px;
    height: 50px;
}

/*LIGHTBOX*/
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.lightbox__next,
.lightbox__prev {
    position: fixed;
    top: 50%;
    right: 2vw;
    z-index: 11;
}

.lightbox__prev {
    right: auto;
    left: 2vw;
}

.lightbox__close {
    position: fixed;
    top: 4vw;
    right: 4vw;
}

.lightbox__next,
.lightbox__prev,
.lightbox__close {
    cursor: pointer;
    opacity: .5;
    transition: .3s;
}
.lightbox__next:hover,
.lightbox__prev:hover,
.lightbox__close:hover {
    opacity: 1;
}

.lightbox__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
}

.lightbox__container img {
    max-width: 100%;
    height: auto;
    animation: lightboxIn .5s;
}

.lightbox__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8vw;
    color: white;
}








@media screen and (max-width: 650px) {
    .modal {
        width: 79vw;
        height: 123vw;
    }
    
    footer {
        flex-direction: column;
        gap: 4vw;
        height: auto;
        padding-top: 6vw;
        padding-bottom: 6vw;
        
    }
    footer p {
        margin: 0;
    }
}