@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.primary-menu {
    display: ruby;
    list-style-type: none;
}

.primary-menu a {
    padding-left: 30px;
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: black;
    text-transform: uppercase;
}

.primary-menu a:hover {
    font-weight: bold;
}

.primary-menu a:active {
    color:rgb(191, 11, 47);
    font-weight: bold;
}

/*MENU TOGGLE*/ 

@media screen and (min-width: 650px) {
    .menu-toggle_open{
        display: none;
    }
    .menu-mobile-overlay{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .menu-toggle_open {
        display: block;
    }
    .header_nav {
        display: none;
    }
    .menu-mobile-overlay {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 75vw;
        background-color: red;
    }
    
    .menu-toggle_open,
    .menu-toggle_close {
        cursor: pointer;
    }
    
    .menu-mobile_nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-mobile_nav ul a {
        padding: 0;
        color: white;
        font-size: 6vw;
    }

    .header-overlay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        top: 0;
        z-index: 99999;
        width: 100%;
        height: 10vw;
        position: absolute;
        background-color: white;
    }
    
    .header-overlay img {
        width: 35vw;
        height: 2vw;
        margin-left: 9vw;
    }
}
