/* HERO HEADER */
.hero-header {
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.hero-content img {
    object-fit: cover;
    margin: auto;
    width: 100%;
    min-width: 100%;
    max-height: 950px;
    min-height: 45vh;
    height: auto;
}

.hero-content h1 {
    font-size: 6vw;
    font-family: 'space-mono',sans-serif;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 3px white;
}

/*PHOTOBLOCK INDEX*/
.index-photo.photo-block {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 8vh;
}

/*LOAD MORE*/
.load{
    display: flex;
    justify-content: center;
}

#load-more {
    font-size: 12px;
    font-family: 'Space Mono';
    background-color: #D8D8D8;
    border-radius: 2px;
    width: 272px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 8vh;
}

#load-more:hover {
    background-color: black;
    color: white;
}

/*FILTRE*/
.filter {
    display: flex;
    justify-content: space-between;
    margin-top: 12vh;
    margin-bottom: 5vh;
}

.filter select {
    width: 17.5vw;
    height: 5vh;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    font-family: 'poppins';
    font-size: 12px;
    padding-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.filter select:hover {
    background-color: #FFD6D6;
}




@media screen and (max-width: 650px) {
    .filter {
        flex-direction: column;
        gap: 2vw;
        align-items: center;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .select-left {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .filter select {
        width: 72vw;
    }
    .index-photo.photo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photo-block .attachment-full {
        width: 80vw !important;
        height: 80vw !important;
    }
    .pleinEcran-photo {
        width: 7vw !important;
    }
    .overlay span {
        font-size: 12px;
    }
}








